.section-trend-watch {
    position: relative;
    width: 1500px;
    margin: 0 auto;

    .section-trend-watch-container {
        min-height: 100vh;
    }
    
    .section-trend-watch-li {
        margin-bottom: 30px;
        padding-top: 30px;

        -webkit-transition: all .5s;
           -moz-transition: all .5s;
            -ms-transition: all .5s;
             -o-transition: all .5s;
                transition: all .5s;

        &:hover {
            opacity: .7;
        }

        .section-trend-watch-desc-inner {
            background: $black-transparent;
            color: $light-grey;
            text-align: center;
            padding: 15px;

            position: absolute;
            bottom: 0;
            width: 92%;

            .section-trend-watch-title {
                font-size: 2.5em;
                margin-bottom: 10px;
                color: $secondary;
                font-family: $font-heading;
            }

            .section-trend-watch-date {
                font-size: 2em;
            }

            .section-trend-watch-desc {
                font-size: 2em;
            }

        }

    }

}