*,*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
    font-family: $font-main;
    font-size: $font-size; 
    line-height: $line-height;
    background-color: $body;
    color: $light-grey;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* Media Query */
@import '_mediaquery.scss';


/* --------------------------
        MODULES
----------------------------*/
.page-title {
    margin: 30px auto;
    font-size: 7em;
    font-family: $font-heading;
    text-align: center;
}

/*---- Section Heading ----*/
@mixin section-title ($text-align) {
    margin: 20px 0;
    font-size: 5em;
    font-family: $font-heading;
    font-weight: 300;
    color: $secondary;
    text-align: $text-align;
}

.section {
    // padding: 60px 0 60px 0;
    margin-bottom: 80px;
}

.section-first {
    margin-top: 80px;
}

.section-title {
    @include section-title(center);
}

@mixin overlay ($height) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $height;
    background: $secondary;
    opacity: 0;

    -webkit-transition: .5s;
       -moz-transition: .5s;
        -ms-transition: .5s;
         -o-transition: .5s;
            transition: .5s;
}

/*---- Form ----*/
$form-height: 30px;

.form-lists {
    text-align: left;

    .form-lists-inline {
        display: inline-block;
        margin-right: 15px;
    }

    .input-wrapper-btn {
        text-align: center;
    }
}

.input-wrapper {
    margin: 10px 0;
    padding: 10px 0;
}

// text
.input {
    width: 100%;
    height: $form-height;
    border: 1px solid $light-grey;
    font-size: 2em;
    font-weight: 300;

    -webkit-transition: border-color .25s;
       -moz-transition: border-color .25s;
        -ms-transition: border-color .25s;
         -o-transition: border-color .25s;
            transition: border-color .25s;
}

.input:hover {
    border-color: $secondary;
}

// input-select
.input-select {
    width: 100%;
    height: $form-height;
    font-weight: 300;
}

/* Btn */
.btn {
    width: 150px;
    height: 60px;
    background: $secondary;
    padding: 20px;
    font-size: 1.5em;
    color: $white;
    border: none;
    text-align: center;
}

/* label */
.label-span {
    font-size: 2em;
    font-weight: 500;
    display: block;
    margin: 5px 5px 5px 0;
    text-align: left;
}

.input-label {
    margin: 20px 0;
}

.input-wrapper.checkbox .input-label{
    margin-right: 10px;
}

/* textarea */
.textarea {
    height: 150px;
}

/*---- Pagination ----*/
.pagination-wrapper-bottom {
    margin-top: 60px;
}

.pagination {

    $pg-border: 1px solid $light-grey;

    .page-item {
        display: inline-block;

        border-top: $pg-border;
        border-bottom: $pg-border;
        border-right: $pg-border;

        &:first-child {
            border-left: $pg-border;
        }

        a {
            display: block;
            padding: 10px 20px;
            font-size: 2em;
            color: $light-grey;
        }

        -webkit-transition: all .5s;
           -moz-transition: all .5s;
            -ms-transition: all .5s;
             -o-transition: all .5s;
                transition: all .5s;

        &:hover {
            background: $pink;
        }

    }

}

/*---- Layout ----*/
.no-pd {
    padding: 0;
}

/* hide for mobile */
@media only screen and (max-width: 25em) {
    .mobile-hide {
        display: none;
    }
}

/* hide for tablet */
@media only screen and (min-width: 25em) and (max-width: 53.750em) {
    .medium-hide {
        display: none;
    }
}

/* hide for desktop */
@media only screen and (min-width: 53.750em) {
    .large-hide {
        display: none;
    }
}

.hidden {
    display: none !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


/* --------------------------
        STATES
----------------------------*/









/* --------------------------
        Print
----------------------------*/
@import '_print.scss';
